// Place all the styles related to the models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  img
  {
      height: 100px;
      width: 100px;
      margin: 2px;
  }
  .draggable
  {
      filter: alpha(opacity=60);
      opacity: 0.6;
  }
  .dropped
  {
      position: static !important;
  }
  #dvSource
  {
      border: 5px solid #ccc;
      padding: 5px;
      min-height: 100px;
      width: 430px;
  }
#dvDest, #dvDest1, #container
  {
    border: 5px solid #ccc;
    padding: 5px;
    height: 125px;
    width: 125px;
  }