- if user_signed_in?
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand{:href => "#"}
          AHMED TEST
      .navbar-text.navbar-right
        = link_to "Sign out", destroy_user_session_path, :method => :delete

